<%= form_with(model: hospital) do |form| %>
  <% if hospital.errors.any? %>
    <h4><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h4>
    <ul>
      <% hospital.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>
