<%= form_with(model: exam, url: url) do |form| %>
  <% if exam.errors.any? %>
    <h4><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h4>
    <ul>
      <% exam.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.label :doctor_id %>
  <%= form.select :doctor_id, User.doctors_at_hospital(@hospital).map{|d| [d.name, d.id]} %>
  <%= form.label :pacient_id %>
  <%= form.select :pacient_id, User.pacients_at_hospital(@hospital).map{|d| [d.name, d.id]} %>
  <%= form.submit %>
<% end %>
