<div id="<%= dom_id @exam %>">
  <span><%= @exam.name %></span>
  <% if current_user.doctor_at_hospital?(@hospital) %>
    <%= link_to "(Editar)", edit_hospital_exam_path(@hospital, @exam) %>
  <% end %>
  <p>Doutor: <%= @exam.doctor.name %></p>
  <p>Paciente: <%= @exam.pacient.name %></p>
  <span>Descrição:</span>
  <%= @exam.description %>
</div>
